.todos {
  animation: todos-appear 1s ease-out forwards;
}

.todos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todos p {
  text-align: center;
}

@keyframes todos-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}