.todo {
  display: flex;
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.todo p {
  margin: 0 0 0 5px;
}

.completed {
  color: #ccc;
}

.todo > .deleteIcon {
  color: red;
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

.todo:hover > .deleteIcon {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
}

svg {
  cursor: pointer;
}











