.todo {
  display: flex;
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.todo p {
  margin: 0 0 0 5px;
}

.todo > .deleteIcon {
  color: red;
  margin-left: auto;
  visibility: hidden;
}

.todo:hover > .deleteIcon {
  cursor: pointer;
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}











